@model IEnumerable<Subject>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<a asp-action="Create" asp-controller="Subject" asp-area="Admin" class="btn btn-primary">Create</a>
<table class="table-bordered table-striped">
    <thead>
        <tr>
            <th>Subjects</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>
                    <a asp-controller="Subject" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a asp-controller="Subject" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-warning">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

